<div id="authorization-container" class="user-login" style="display: none">
  <div id="authorization-headings"></div>

  <div id="authorization-actions">
    <section id="user-login">
      <img src="image/logo.png" alt="Logo" />

      <form autocomplete="off" method="post">
        <input type="text" id="user-email" 
          name="User email" placeholder="Email"></input>

        <input type="password" id="user-password" 
          name="User password" placeholder="Senha"></input>

        <button type="submit">Acessar</button>

        <div id="buttons-container">
          <button type="button" id="forgot-password">Esqueceu a senha?</button>

          <button type="button" id="show-registration">
            Não possui conta? Cadastre-se
          </button>
        </div>
      </form>
    </section>

    <section id="registration">
      <img src="./image/logo.png" alt="Logo" />

      <form autocomplete="off" method="post">
        <input type="text" id="name" name="Name" placeholder="Nome"></input>
        <input type="text" id="email" name="Email" placeholder="Email"></input>

        <div id="password-container">
          <input type="password" id="password"
            name="Password" placeholder="Senha"></input>

          <input type="password" id="repeat-password"
            name="Repeat password" placeholder="Repetir"></input>
        </div>

        <button type="submit">Cadastrar</button>

        <button type="button" id="show-user-login">
          Já possui uma conta? Faça login...
        </button>
      </form>
    </section>
  </div>

  <div id="authorization-footer">
    <strong>DISCLAIMER:</strong>
    Os produtos oferecidos incluem opções binárias,
    contratos por diferença (CFDs) e outros derivados complexos. A negociação 
    de opções binárias pode não ser adequada para todos. A negociação de CFDs
    apresenta um alto nível de risco, pois a alavancagem pode funcionar tanto
    para sua vantagem quanto para sua desvantagem. Como resultado, os produtos
    oferecidos no site podem não ser adequados para todos os investidores
    devido ao risco de perder todo o seu capital investido. Você nunca deve
    investir dinheiro que não pode perder e nunca negociar com dinheiro 
    emprestado. Antes de negociar os produtos complexos oferecidos, não deixe
    de entender os riscos envolvidos.
  </div>
</div>
