<div id="home-section" class="dashboard active"></div>
<div id="tutorials-section" class="dashboard"></div>
<div id="utils-section" class="dashboard"></div>
<div id="sheet-section" class="dashboard"></div>
<div id="notifications-section" class="dashboard"></div>
<div id="profile-section" class="dashboard"></div>
