#topbar { background: black; }

#authorization-container {
  background: black;

  #user-login, #registration {
    background: black;

    input {
      background: #2a2a2a;
      color: white;
    }

    button[type="submit"] {
      color: #e1e1e1;
      background: #077a07;
    }
  }

  #registration button[type="button"] { color: #ebebeb; }

  #buttons-container, #registration button[type="button"] {
    margin-bottom: 20px;
  }
}

#xml-container {
  border: 0;
  margin: 0;
  background: transparent;
  cursor: default;
  padding: 0;

  #xml-name { display: none; }

  #xml-items {
    display: block;
    top: 150px;
    left: 230px;
    width: calc(100% - 250px);
    text-align: center;
    background: transparent;
    border: 0;

    &:before {
      left: 0;
      content: "Escolha seu ROBÔ para operar";
      color: white;
      font-size: 25px;
      position: absolute;
      top: -60px;
      width: 100%;
      text-align: center;
    }
  
    span {
      display: inline-block;
      background: orange;
      color: white;
      border-radius: 10px;
      padding: 6px;
      cursor: pointer;
      font-size: 19px;
      margin: 2px 10px;
  
      &.current, &:hover {
        background: #ad5f01;
        color: #dbdbdb;
      }
  
      &.current { cursor: default; }
    }
  }
}

#blocklyDiv .blocklyToolboxDiv:first-child {
  background: black !important;

  div {
    &#user-data { color: white; }

    &.side-button {
      color: white;
      &.active, &:hover { color: black; }
    }

    a { color: lightblue; }
    #user-logout { color: #ff3535; }
  }
}

.ui-widget-header { background: black; }
